<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <!-- <section id="loader-container"></section> -->
    <section id="onBoarding-container"></section>
    <section id="modal-container">
    </section>
    <section id="header-container"></section>
    <section id="display-container"></section>
    <section id="game-container"></section>
    <!-- el devboard, desarrollo en comunidad -->
    <section id="devboard-container"></section>
    <section id="left-container"></section>
    <section id="images-menu-container"></section>
    <section id="profile-menu-container"></section>
    <section id="single-card"></section>
    <section id="bottom-container"></section>
    <section id="chat-container"></section>
    <section id="messages"><%=message%></section>
    <script type="application/javascript" src="/app.js"></script>
  </body>
</html>