<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <!-- <section id="loader-container"></section> -->
    <section id="onBoarding-container"></section>
    <section id="modal-container">
    </section>
    <section id="header-container"></section>
    <section id="left-container"></section>
    <section id="bottom-container"></section>
    <section id="main-container"></section>
    <section class="messages"><%=message%></section>
    <script type="application/javascript" src="/app.js"></script>
  </body>
</html>