#actions-container {
  position: fixed;
  z-index: 15;
  right: 5%;
  bottom: 4%;

  #list-container {
    .single-message{
      font-family: 'lepm';
      font-size: 0.8rem !important;
      margin-bottom: 12px;
      color: $gray-dark;
      padding: 8px 15px;
      border-radius: 3px;
    }

    // estilos segun tipo
    .styl-normal {
      box-shadow: 0 3px 0 rgba(#000, 0.6);
      background-color: $yellow-zero;
    }

    .styl-mom {
      background-color: $purple-active;
      color: $yellow-zero;
    }
    .styl-error {
      background-color: $red-alert;
      color: $yellow-zero;
    }
    .styl-delete {
      background-color: $gray-dark;
      color: $yellow-zero;
      &:before {
        content: 'x';
        margin-right: 10px;
        display: inline-block;
        color: $red-alert;
        font-family: 'square';
        font-size: 1rem;
      }
    }


  }
}