$size: 960px;

$left: 270px;
$right: $size - $left;

$border: 1px solid rgba($gray-dark, 0.3);
$border-form: 1px solid rgba($gray-dark, 0.5);
$shadow: 0 4px 0 $gray-dark, 0 5px 2px rgba(0,0,0,0.2);

@keyframes Gradient {
	0% { background-position: 0% 300%; }
	100% { background-position: 0% 0%; }
}

@keyframes tongue {
  0% { transform: translateY(2px) }
  10% { transform: translateY(-2px) }
  90% { transform: translateY(2px) }
  100% { transform: translateY(-2px) }
}

@keyframes breathing {
	0% { transform: translateY(1px) }
	30% { transform: translateY(-1px) }
	70% { transform: translateY(-2px) }
	100% { transform: translateY(1px) }
}

@keyframes pupil {
  0% {transform: translate(0px, 6px)}
  1% {transform: translate(8px, 2px)}
  29% {transform: translate(8px, 2px)}
  30% {transform: translate(-8px, 2px)}
  74% {transform: translate(-8px, 2px)}
  75% {transform: translate(0px, 6px)}
  100% {transform: translate(0px, 6px)}
}

.red-text-counter {
  color: $red-alert !important;
}

.ecran-display {
  display:  block !important;
}

.back-display {
  visibility:  visible !important;
}

.show-eyes {
  opacity: 1 !important;
}

.ecran-gray {
  display: none;
  width: 100%;
  background-color: rgba($gray-dark, 0.7);
  height: 100%;
  position: fixed;
  z-index: 10;
}

.opacity-zero {
  opacity: 0;
  transform: rotateX(90deg);
}

#devboard-container {
  position: fixed;
  background-color: $game-background;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;

  .clearfix {
    height: 100%;
    width: 100%;
    min-width: $size;
    position: relative;
    overflow-y: scroll;

    .devBoard-left {
      position: relative;
      vertical-align: top;
      display: inline-block;
      min-width: 220px;
      width: 100%;
      max-width: $left;
      height: 100%;

      .devboard-wrapper {
        height: 100%;
        width: $left;
        position: fixed;

        .brandContainer {
          height: 240px;
          margin: 20px;
          padding: 20px;
          position: relative;

          #dev-logo {
            position: absolute;
            width: 220px;
            height: 230px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px dashed black;

            .dev-logo-image {
              width: 100%;
            }
          }
          .dev-logo-message {
            background-color: $red-alert;
            position: absolute;
            left: 50%;
            bottom: 30px;
            margin-left: -60px;
            display: block;
            width: 120px;
            height: 38px;
            padding-top: 2px;
            color: white;
            font-size: 2.2rem;
          }
        }

        .devBoard-item {
          border-radius: 2px;
          background-color: ghostwhite;
          border: $border;
          padding: 15px;
          margin: 0 15px 20px 15px;
          box-shadow: $shadow;
        }

        .mom {
          height: 280px;
          position: relative;

          .image-container {
            height: 125px;
            width: 125px;
            background-color: $gray-dark;
            display: inline-block;
            border-radius: 50%;
            margin-top: 8px;
            margin-bottom: 25px;
            position: relative;
            overflow: hidden;
            $image-size: 150px;

            img {
              width: $image-size;
              height: $image-size;
              position: absolute;
              left: 50%;
              bottom: 50%;
              margin-left: -1 * ($image-size / 2);
              margin-bottom: -1 * ($image-size / 2);
            }
          }

          .genre {
            font-family: 'square';
            font-size: 1.3rem;
            position: relative;

            .genre-message-woman {
              position: absolute;
              color: $red-alert;
              left: 20px;
              top: -20px;
            }

            .genre-message-bad {
              position: relative;

              &:after {
                content: '';
                width: 80px;
                height: 3px;
                left: -4px;
                top: 9px;
                transform: rotateZ(6deg);
                background-color: $gray-dark;
                box-shadow: 0 -1px 0 white;
                position: absolute;
              }
            }
          }

          .mom-divisor {
            font-family: 'lepb';
            font-size: 2.2rem;
            margin-top: -6px;
            text-shadow: 0 -3px 0px white;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            letter-spacing: 0.05rem;
          }

          .user-name {
            margin-top: 33px;
            font-family: 'lepm';
            font-size: 1.1rem;
            
            span {
              position: relative;

              &:before {
                content: '★';
                left: -12px;
                position: absolute;
                top: 7px;
                font-size: 0.5rem;
                transform: rotateZ(35deg);
              }
              &:after {
                content: '★';
                right: -12px;
                position: absolute;
                top: 7px;
                font-size: 0.5rem;
                transform: rotateZ(35deg);
              }
            }

          }
        }

        .in-process {
          padding: 0 !important;
          background-color: $red-alert;
          position: relative;

          .in-process-title {
            font-family: 'square';
            font-size: 1.5rem;
            padding: 16px 0 12px 0;
            border-bottom: 1px solid $gray-dark;
            width: 100%;
            margin-bottom: 15px;
            color: white;
          }

          .in-process-alert {
            position: absolute;
            right: 10px;
            font-family: 'lepm';
            font-size: 1.2rem;
            top: 10px;
            color: white;
          }

          .contribs-in-process {
            text-align: left;
            font-family: 'lepm';

            .contrib{
              margin: 0 0 15px 0;
              color: $gray-dark;
            }

            .contrib:nth-last-child(1) {
              margin: 0 0 0 0;
            }

            .contrib-in-process {
              padding-bottom: 10px;
              border-bottom: 1px dotted $gray-dark;

              .title {
                padding: 0 15px 0 15px;
                font-family: 'square';
                margin-bottom: 3px;
                font-size: 1rem;
                line-height: 1.2rem;
                max-height: 40px;
                overflow: hidden;

                a {
                  &:hover{
                    color: #ffa07a !important;
                  }
                }
              }

              .data {
                overflow: hidden;
                padding: 0 15px 0 15px;
                font-family: 'lepm';
                line-height: 1.15rem;
                font-size: 0.8rem;
                width: 90%;

                .contrib-inProcess-tag {
                  border: 2px solid $gray-dark;
                  display: inline-block;
                  padding: 1px 3px 1px 3px;
                  margin-right: 5px;
                  border-radius: 2px;
                  // background-color: rgba(255,255,255,0.1);
                  transition: 0.1s;
                  margin-bottom: 5px;

                  a {
                    display: inline-block;
                    font-family: 'square';
                    color: $gray-dark;
                  }

                  &:hover {
                    background-color: $game-background;
                    border: 2px solid $game-background;
                    a {
                      color: $red-alert;
                    }
                  }

                }
              }

              .author {
                padding-right: 20px;
                font-family: 'square';
                text-align: right;
                margin-top: 10px;

                .contrib-author {
                  width: 100%;
                  font-size: 1rem;

                  .author {
                    color: white;
                    letter-spacing: 0.06rem;
                    font-size: 0.6rem;
                    vertical-align: top;
                    margin-right: -15px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .devBoard-right {
      display: inline-block;
      min-width: $right;

      .devboard-wrapper {
        width: 100%;

        .tag-devboard-container {
          height: 100px;
          width: 100%;
          position: relative;

          .devboard-right-tags {
            position: absolute;
            bottom: 0;
            right: 10px;;
            text-align: right;
            white-space: no;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .contrib-tag {
              display: inline-block;
              background-color: $gray-dark;
              color: $game-background;
              font-family: 'square';
              font-size: 1.1rem;
              padding: 5px 6px 3px 6px;
              border-radius: 2px;
              margin-left: 8px;
              border: 3px solid $gray-dark;
              transition: 0.2s ease-out;

              &:hover {
                background-color: transparent;
                // border: 3px solid $red-alert;
                color: $gray-dark;
              }

            }
          }
        }

        .devboard-right-content {
          width: $right;
          height: 100%;

          .devboard-right-content-items {
            width: $right / 2 - 20;
            border-radius: 2px;
            margin-left: 15px;
            margin-top: 20px;
          }

          .contrib-create-form-wrapper {
            border: $border-form;
            padding: 15px;
            background-color: $yellow-zero;
            height: 258px;
            text-align: left;
            position: relative;
            float: left;
            box-shadow: $shadow;

            .devboard-form-title {
              font-family: 'lepb';
              font-size: 2.5rem;
            }

            #contrib-create-form {

              .type-contrib-form {
                margin-top: 10px;
                margin-bottom: 3px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: relative;

                input[type="radio"]{
                  opacity: 0;
                  width: 70px;
                  position: absolute;
                  height: 30px;
                  cursor: pointer;
                  bottom: -8px;
                }

                input[type="radio"] + span {
                  // margin-right: 42px;
                  color: $gray-dark;
                  font-size: 0.9rem;
                  font-family: 'lepb';
                  padding: 2px 5px 2px 5px;
                  transition: all 0.2s;
                }

                input[type="radio"]:checked + span {
                  background-color: $game-background;
                  border-radius: 2px;
                }

                input[type="radio"]:focus + span {
                  color: $red-alert;
                }

                span[for="bug"] {
                  color: $red-alert !important;
                }
              }

              .title-contrib-form {
                input[name=title] {
                  border: 2px solid $gray-dark !important;
                  border-radius: 2px;
                  padding: 5px 4px 5px 4px;
                  width: 100%;
                  margin-top: 10px;
                  background-color: transparent;
                  font-family: 'lepm';
                  font-size: 0.8rem;
                }
              }

              .comment-contrib-form {
                textarea[name=info] {
                  border-radius: 2px;
                  width: 100%;
                  resize: none;
                  background-color: transparent;
                  border: 2px solid $gray-dark;
                  // padding: 5px;
                  height: 70px;
                  font-family: 'lepm';
                  font-size: 0.8rem;
                  margin-top: 11px;
                }
              }

              .submit-contrib-form {
                button[type=submit] {
                  border: none;
                  color: $yellow-zero;
                  font-family: 'square';
                  font-size: 1.1rem;
                  background-color: $gray-dark;
                  padding: 3px 5px 1px 5px;
                  border-radius: 2px;
                  margin-top: 8px;
                  cursor: pointer;

                  &:hover {
                  background-color: $game-background;
                  color: $gray-dark;
                  }
                }
              }
            }

            #contrib-create-form-counter {
              position: absolute;
              right: 16px;
              bottom: 25px;
              font-family: 'square';
              font-size: 0.9rem;
            }
          }

          // .grid-item {
          //   margin-bottom: 0;
          // }

          .grid-item {
            margin-bottom: -2px;
          }

          .one-contrib-container {
            color: $gray-dark;
            background-color: $gray-dark;
            border-radius: 3px;
            background: linear-gradient(0deg, rgb(48, 10, 19) 0%, rgba($gray-dark, 1) 70%); /* w3c */                  
            background-size: 100% 120%;
            
            .one-contrib-wrapper {
              position: relative;
              width: 100%;
              height: 100%;

              .one-contrib-content-back {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                overflow: hidden;
                visibility: hidden;

                .one-contrib-content-back-eyes {
                  position: absolute;
                  transition: all 100ms ease-out;
                  opacity: 0;
                  height: 30px;
                  width: 30px;
                  margin-left: -15px;
                  margin-top: -15px;
                  background: radial-gradient(ellipse at center, rgba(255,59,85,1) 0%, rgba(156,31,73,1) 100%); /* w3c */                  
                  border-radius: 50%;
                  left: 50%;
                  top: 45%;
                  box-shadow: 0 6px 1px $gray-dark inset, 0 10px 0 rgba($gray-dark, 0.5) inset, 0 -8px 0 rgba($gray-dark, 0.2) inset;;
                  animation: breathing .5s ease-in-out infinite alternate;

                  &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 120px;
                    top: 50%;
                    left: 50%;
                    margin-left: -1px;
                    margin-top: 15px;
                    // animation: gradient 1s ease-out infinite;
                    background: linear-gradient(0deg, rgba($gray-dark, 0) 30%, rgba(255,59,85, .4) 31%, rgba(255,59,85, 0) 36%, rgba(255,59,85, 0) 38%, rgba(255,59,85, 0.3) 39%, rgba(255,59,85, 0) 60%, rgba(255,59,85, .3) 61%, rgba(255,59,85, 0) 64%, rgba(255,59,85, 0.2) 80%, rgba($gray-dark, 0) 100%); /* w3c */
                    background-size: 100% 300%;
                    animation: Gradient 15s linear infinite;

                  }

                  .one-contrib-content-back-eyes-pupil {
                      animation: pupil 4s ease-out infinite;
                      position: absolute;
                      width: 14px;
                      height: 14px;
                      top: 50%;
                      left: 50%;
                      margin-left: -7px;
                      margin-top: -7px;
                      background-color: $gray-dark;
                      border-radius: 50%;
                      box-shadow: 0 1px 2px rgba(#000, 0.8), 0 -3px 0px rgba($red-alert, 0.3) inset;
                    }
                }

              }

              .one-contrib-content {
                width: $right / 2 - 20;
                background-color: ghostwhite;
                border-radius: 2px;
                border: $border;
                box-shadow: $shadow;
                z-index: 2;
                transition: 0.1s;
                transition: all 100ms cubic-bezier(0.350, -0.255, 0.585, 1.460); /* custom */

                .one-contrib-header {
                  text-align: left;

                  .one-contrib-left {
                    float: left;
                    width: 70px;
                    height: 40px;
                    position: relative;

                    .one-contrib-avatar-container {
                      padding: 10px;
                      width: 45px;
                      height: 45px;
                      background-color: $gray-dark;
                      position: absolute;
                      left: 50%;
                      top: 12px;
                      transform: translate(-50%, 0);

                      .one-contrib-user-image {
                      }
                    }
                  }

                  .one-contrib-right {
                    width: $right / 2 - 125px;
                    display: inline-block;
                    margin-top: 12px;

                    .one-contrib-username {
                      font-family: 'lepb';
                      text-transform: uppercase;
                      font-size: 1.2rem;
                      margin-bottom: 3px;
                    }
                    .one-contrib-title {
                      margin-top: 10px;
                      font-family: 'square';
                      font-size: 1.2rem;
                    }
                  }

                  .one-contrib-info {
                    margin-top: 5px;
                    width: 100%;
                    padding: 13px 13px 0px 13px;
                    font-family: 'lepm';
                    font-size: 0.8rem;
                    line-height: 1.14rem;
                  }
                }

                .one-contrib-likes {
                  width: 100%;
                  height: 47px;
                  font-family: 'lepb';
                  text-align: center;
                  font-size: .8rem;

                  .one-contrib-likes-container {
                    width: 100%;
                    margin-top: 4px;
                    text-align: left;

                    .one-contrib-likes-container-button-arrow {
                      width: 40px;
                      height: 46px;
                      margin-left: -4px;
                      display: inline-block;
                      position: relative;

                      &:after {
                        content: '+';
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        top: 8px;
                        left: 55%;
                        font-size: 1.7rem;
                        color: $gray-dark;
                      }

                      &:hover {
                        cursor: pointer;
                        &:after {

                          color: red !important;
                        }
                      }

                    }

                    .one-contrib-likes-container-button {
                      width: 40px;
                      height: 46px;
                      display: inline-block;
                      margin-left: 0px;
                      // margin: 0 auto;

                      .demon-body {
                        position: relative;
                        top: 10px;
                        $demon-color: $game-background;
                        $demon-eyes: $gray-dark;

                        .demon-head {
                          width: 24px;
                          height: 21px;
                          left: 8px;
                          position: relative;

                          .demon-face {
                            transition: .1s ease-out;
                            width: 22px;
                            height: 23px;
                            left: 50%;
                            margin-left: -11px;
                            background-color: $demon-color;
                            position: absolute;
                            border-radius: 17px 17px 13px 13px;
                            box-shadow: 0 -4px 0 rgba($gray-dark, 0.1) inset;
                            text-align: center;

                            &::after {
                              content: '';
                              background-color: $demon-color;
                              width: 2px;
                              height: 2px;
                              right: 15px;
                              top: 4px;
                              position: absolute;
                            }

                            &::before {
                              content: '';
                              background-color: $gray-dark;
                              z-index: 1;
                              width: 2px;
                              height: 3px;
                              right: 10px;
                              top: 20px;
                              position: absolute;
                              opacity: 0;
                            }


                            .demon-plus1 {
                              padding-top: 8px;
                              padding-right: 1px;
                              margin: 0 auto;
                              color: $demon-eyes;
                              font-size: 0.7rem;
                              transition: .1s ease-out;

                              &:before {
                                content: '+'
                              }
                              &:after {
                                opacity: 0;
                                content: '+'
                              }
                            }
                          }

                          .demon-ears {
                            background-color: $demon-color;
                            position: absolute;
                            left: 50%;
                            margin-left: -14px;
                            top: 14px;
                            width: 28px;
                            height: 8px;
                            border-radius: 0px 0px 20px 20px;

                            &:after {
                              content: '◀';
                              color: $demon-color;
                              position: absolute;
                              right: 3px;
                              top: -11px;

                            }
                          }

                          .demon-tongue {
                            position: absolute;
                            width: 2px;
                            height: 8px;
                            background-color: #AD3CFF;
                            bottom: 0px;
                            left: 50%;
                            margin-left: -1px;
                            box-shadow: 0 4px 0 rgba($gray-dark, 0.7) inset;
                          }
                        }

                        &:hover {
                          cursor: pointer;
                          .demon-head {
                            .demon-face {
                              background-color: $red-alert !important;

                              .demon-plus1 {
                                &:after {
                                  opacity: 1;
                                }
                                &:before {
                                  content: '+';
                                }
                              }

                              &:before {
                                opacity: 1;
                              }

                              &:after {
                                background-color: white;
                              }
                            }

                            .demon-ears {
                              background-color: $red-alert !important;
                              &:after {
                                top: -16px;
                                color: $red-alert;
                              }
                            }

                            .demon-tongue {
                              bottom: -6px;
                              animation: tongue .1s ease-out infinite alternate;
                            }
                          
                          }
                        }
                      }
                    }

                    .one-contrib-likes-container-names {
                      height: 45px;
                      width: 220px;
                      display: inline-block;
                      vertical-align: top;
                      position: relative;

                      .one-contrib-likes-container-names-list {
                        font-family: 'lepl';
                        font-size: 0.65rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        line-height: 1rem;

                        .one-contrib-likes-container-item {
                          // margin: 1px;
                          text-align: center;

                          .name {
                            padding: 2px 3px 2px 2px;
                            border-radius: 2px;
                            background-color: $gray-dark;
                            // margin-right: -2px;
                            margin-right: -1px;
                            color: $game-background;

                            &:hover {
                              cursor: pointer;
                            }
                          }
                        }
                      }
                    }
                  }
                }

                .one-contrib-hidden-content {
                  width: 100%;
                  overflow: hidden;
                  height: 0;

                  .one-contrib-messages-container {
                    width: 100%;
                    .one-contrib-messages-content {
                    }

                    .one-contrib-messages-form-container {
                      width: 100%;
                      margin-bottom: 13px;

                      .one-contrib-messages-form {
                        border: none;
                        
                        .one-contrib-messages-uimage-container {
                          vertical-align: top;
                          width: 32px;
                          height: 32px;
                          background-color: salmon;
                          display: inline-block;
                          margin-right: 10px;
                          margin-top: 1px;
                        }

                        .one-contrib-messages-text-form-container {
                          display: inline-block;
                          position: relative;
                          width: 78%;
                          text-align: left;

                          .one-contrib-messages-text-form {
                            border: 2px solid $gray-dark;
                            background-color: $game-background;
                            width: 100%;
                            min-height: 32px;
                            display: inline-block;
                            // overflow: hidden;
                            font-family: 'lepm';
                            font-size: 0.8rem;
                            line-height: 1.1rem;
                            border-radius: 2px;
                            position: relative;

                            .one-contrib-messages-text-editable {
                              padding: 5px 10px 5px 10px;
                              text-align: left;
                              display: inline-block;
                              min-width: 185px;
                              max-width: 100%;
                            }

                            .one-contrib-messages-submit{
                              height: 30px;
                              width: 60px;
                              // background-color: $game-background-dark;
                              color: $gray-dark;
                              float: right;
                              font-family: 'lepb';
                              font-size: 0.9rem;
                              text-align: center;
                              &:hover {
                                cursor: pointer;
                              }
                            }
                          }


                        }
                      }
                    }
                  }

                  .one-contrib-dev-res-form {
                    width: 100%;
                    height: 127px;

                    .one-contrib-dev-form {
                      border: 2px solid $gray-dark;
                      margin: 7px;
                      margin-top: 13px;
                      vertical-align: middle;
                      display: inline-block;
                      width: 91%;
                      // overflow: hidden;
                      height: 100px;
                      border-radius: 3px;
                      
                      .one-contrib-dev-textarea-container {
                        display: inline-block;
                        width: 85%;
                        height: 100%;
                        
                        .one-contrib-dev-textarea {
                          border-radius: 2px;
                          width: 100%;
                          border: none;
                          resize: none;
                          height: 100%;
                          font-family: 'lepm';
                          font-size: 0.8rem;
                          line-height: 1.2rem;
                          background-color: $game-background;
                          padding: 5px;
                        }
                      }

                      .one-contrib-dev-buttons {
                        display: inline-block;
                        width: 15%;
                        height: 100px;
                        vertical-align: top;
                        margin-left: -3px;

                        .one-contrib-dev-input-false {
                          height: 48px;
                          width: 100%;
                          background: $yellow-zero url('/img/false-s.png') no-repeat 45% 50%;
                          background-size: 25px;
                        }

                        .button {
                          border: none;
                          &:hover{
                            cursor: pointer;
                          }
                        }

                        .one-contrib-dev-input-true {
                          width: 100%;
                          height: 48px;
                          background: $green-true url('/img/true-s.png') no-repeat 45% 45%;
                          background-size: 25px;
                          input {
                            color: transparent;
                            width: 100%;
                            height: 100%;
                            &:hover{
                              cursor: pointer;
                            }
                          }
                        }
                      }
                    }
                  }

                  .one-contrib-dev-panel {
                    width: 100%;
                    display: inline-block;
                    border-top: 1px dotted #717171;
                    margin-top: 5px;


                    .one-contrib-dev-response {
                      height: 100%;
                      position: relative;
                      margin: 20px;
                      text-align: left;
                      
                      .one-contrib-dev-response-left {
                        display: inline-block;
                        width: 100%;

                        .one-contrib-dev-left-title {
                          font-family: 'lepb';
                          font-size: 1.8rem;
                          width: 100%;
                          
                          .one-contrib-dev-hand {
                            height: 30px;
                            display: inline-block;
                            position: relative;
                            margin-left: 2px;
                            
                            img {
                              width: 30px;
                              vertical-align: top;
                              margin-top: 1px;
                            }
                          }
                        }
                        
                        .one-contrib-dev-left-content {
                          margin-top: 10px;
                          font-family: 'lepm';
                          font-size: .9rem;
                          line-height: 1.14rem;
                        }
                      }
                    }
                  }

                }

                &:hover {
                  border: 1px solid rgba($gray-dark, .7);
                }
              }
            }
          }
        }
      }
    }
  }
}
