@mixin purple(){
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(172,250,224,1) 51%, rgba(170,250,223,1) 52%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(172,250,224,1)), color-stop(52%, rgba(170,250,223,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(172,250,224,1) 51%, rgba(170,250,223,1) 52%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(172,250,224,1) 51%, rgba(170,250,223,1) 52%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(172,250,224,1) 51%, rgba(170,250,223,1) 52%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(172,250,224,1) 51%, rgba(170,250,223,1) 52%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aafadf', GradientType=0 );
}

@mixin shimmer-grad($color) {
  background: rgba($color,0);
  background: -moz-linear-gradient(-25deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba($color,0)), color-stop(35%, rgba($color,0)), color-stop(35%, rgba($color,1)), color-stop(50%, rgba($color,1)), color-stop(51%, rgba($color,0)), color-stop(58%, rgba($color,0)), color-stop(58%, rgba($color,1)), color-stop(59%, rgba($color,1)), color-stop(60%, rgba($color,0)), color-stop(75%, rgba($color,0)), color-stop(75%, rgba($color,1)), color-stop(81%, rgba($color,1)), color-stop(81%, rgba($color,0)), color-stop(100%, rgba($color,0)));
  background: -webkit-linear-gradient(-25deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  background: -o-linear-gradient(-25deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  background: -ms-linear-gradient(-25deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  background: linear-gradient(110deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4f2f2', endColorstr='#c4f2f2', GradientType=1 );
}

@keyframes skillsOpen {
  0% {
    width: 0;
    opacity: 1;
  }
  10% {
    width: 100px;
    opacity: 1;
    margin-left: -50px;
  }

  25% {
    height: 100px;
    margin-top: -50px;
  }
  100% {
    height: 100px;
    margin-top: -50px;
    width: 100px;
    margin-left: -50px;
    visibility: visible;
    opacity: 1;
    }
}

@keyframes light-skill {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.awards-style {
  font-size: 0.6rem;
  vertical-align: 20%;
  padding: 4px 2px 3px 2px;
  line-height: -1.5rem;
  border-radius: 1px;
  box-shadow: 0 2px 0 rgba(#000, 0.2);
  margin-left: 1px;
  margin-bottom: 2px;
  // padding-bottom: 2px;
}

.awards-amazing{
  &:before {
    content: '\f004';
    font-family: FontAwesome;
    background-color: $yellow-logo;
    color: $red-alert;

    @extend .awards-style;
  }
}
.awards-bastard{
  &:before {
    content: '\f1e2';
    font-family: FontAwesome;
    background-color: $yellow-logo;
    color: $gray-dark;

    @extend .awards-style;
  }
}
.awards-takeMyMoney{
  &:before {
    content: '\f291';
    font-family: FontAwesome;
    background-color: $yellow-logo;
    color: $gray-dark;

    @extend .awards-style;
  }
}

.mouse-target {
  position: absolute;
  background-color: $yellow-high;
  transform-origin: 50% 50%;
  transition: 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
  opacity: 1;
  width: 1px;
  height: 1px;
}

.mouse-target-start {
  transform: scale(1, 60);
  opacity: 0;
}

.haveShadow {
  box-shadow: 0 0 0 1px rgba($gray-dark, 1),
              0 0 4px rgba($gray-dark, 1);
}

#game-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 0;

  .game-scrollbars{
    width: 102%;
    height: 102%;
    position: absolute;
    overflow: scroll;
    z-index: 0;
    text-align: center;

    .game-grid {
      padding: 250px;
      display: inline-block;
      position: relative;

      .corpose-container {
        overflow: hidden;
        width: 100%;
        height: 100%;

        .corpose-body {
          // el cuerpo de las piezas se ajusta desde js
          .corpose-hover {
            width: 70%;
            height: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;

            &:hover {
              .body {
                bottom: -50px;
              }
              .header {
                opacity: 1;
              }
            }

            .header {
              opacity: 0;
              transition: 0.05s ease-in;
              width: 100%;
              top: 0;
              background-color: #222;
              padding: 5px;
              text-align: left;
              border-radius: 2px;
              border-right: 2px solid rgba($red-alert-light, 0.35);
              border-left: 2px solid rgba($red-alert-light, 0.35);
              box-shadow: 0 5px 0 rgba(#000, .35);
              overflow: hidden;
              position: relative;

              &:before {
                border-radius: 2px;
                box-shadow: 0 2px 0 rgba(#000, 0.25);
                border-left: 2px solid rgba(#fff, 0.25);
                border-right: 2px solid rgba(#fff, 0.25);
                content: '';
                width: 100%;
                position: absolute;
                z-index: -1;

              }

              &:after {
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                opacity: 0.15;
                z-index: 0;
                @include shimmer-grad($color-grad);
              }


              .name {
                display: inline-block;
                text-transform: uppercase;
                font-family: 'lepm';
                color: white;
                font-size: 1.4rem;
                margin-bottom: 3px;
                margin-right: 3px;
                line-height: 1.6rem;
                min-width: 20px;
                position: relative;
                text-shadow: 0 2px 0 rgba(#000, 0.3);
                cursor: pointer;
              }

              .from {
                font-family: 'lepm';
                font-size: 1rem;
                text-align: left;
                display: inline-block;
                color: $display-letters;
                padding: 2px 0 3px 0;
                cursor: pointer;

                &:before {
                  content: 'by ';
                  vertical-align: top;
                  font-size: 0.7rem;
                  color: white;
                  margin-top: -8px;
                }
              }
            }

            .body {
              position: relative;
              width: 140px;
              height: 28px;
              bottom: -170px;
              margin-bottom: -3px;
              left: 50%;
              border-left: 2px solid rgba(#fff, 0.9);
              border-right: 2px solid rgba(#fff, 0.9);
              margin-left: -70px;
              border-radius: 1px;
              box-shadow: 0 0 2px rgba(#000, 0.5);
              transition: .1s ease-out;
              -webkit-transition: all .33s cubic-bezier(0.900, 0.025, 0.245, 1); /* older webkit */
              -webkit-transition: all .33s cubic-bezier(0.900, 0.025, 0.245, 1.445); 
                -moz-transition: all .33s cubic-bezier(0.900, 0.025, 0.245, 1.445); 
                  -o-transition: all .33s cubic-bezier(0.900, 0.025, 0.245, 1.445); 
                      transition: all .33s cubic-bezier(0.900, 0.025, 0.245, 1.445); /* custom */

              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.8;
                width: 100%;
                height: 100%;
                background-color: #fff;
                z-index: -1;
              }

              &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.8;
                width: 100%;
                height: 100%;
                @include shimmer-grad(#fff);
                z-index: -1;
              }

              &:hover {
                .tooltip-people{
                  transform: rotateX(0deg) translate(-50%, 0);
                }
              }

              $color-tooltip: $gray-dark-low;
              $background-tooltip: $display-letters;

              .tooltip-people {
                position: absolute;
                border-top: 2px solid rgba($purple-active, 0.5);
                border-left: 2px solid rgba($purple-active, 0.5);
                border-right: 2px solid rgba($purple-active, 0.5);
                transform-style: preserve-3d;
                bottom: 28px;
                left: 50%;
                min-width: 138px;
                max-height: 44px;
                background-color: rgba($purple-active, 0.9);
                border-radius: 1px 1px 0 0;
                padding: 3px;
                font-size: 1rem;
                transform-origin: 50% 100%;
                transform: rotateX(90deg) translate(-50%, 0);
                transition: 0.1s ease-out;

                .people-container {
                  display: inline-block;
                  font-size: 0.8rem;
                  font-family: 'lepl';

                  .first-user {
                    display: inline-block;
                    margin-right: 0px;
                    color: rgb(255, 220, 246);
                  }

                  .others {
                    .sponsor-names {
                      display: inline-block;
                      margin-right: 2px;
                      padding-left: 2px;
                      text-decoration: none;
                      color: rgb(255, 187, 252);

                      &:nth-child(2){
                        &:before {
                          content: ', ';
                          width: 10px;
                          height: 10px;
                          margin-left: -4px;
                        }
                      }
                    }
                  }
                }
              }

              .award-container {
                display: inline-block;
                cursor: pointer;
                padding: 4px 5px 0px 5px;
                width: 40px;

                .awards {
                  display: inline-block;
                }

                .icon {
                  color: #333;
                  font-size: 0.6rem;
                  vertical-align: middle;
                }

                .info {
                  margin-top: 2px;
                  vertical-align: middle;
                  padding-left: 2px;
                  font-family: 'lepl';
                  font-size: 0.8rem;
                }
              }
            }

          }

          img{
            width: 100%;
          }

          &:before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: $gray-dark;
          }
        }

        .empty {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 8px;
          height: 8px;
          background-color: $gray-light !important;
          border-top: 1px solid white;
          box-shadow: 0 1px 2px rgba(#000, 0.5),
                      inset 0 -2px 3px rgba(#000, 0.2);
          border-radius: 50%;
          margin-left: -4px;
          margin-top: -4px;
        }
      }

      .skills-list-container {
        width: 50px;
        height: 50px;
        border-radius: 50% 50%;
        position: absolute;
        bottom: -25px;
        right: -25px;
        z-index: 9000 !important;
        cursor: pointer;

        $color-one: $menu-trigger-background;

        .skills-list {
          cursor: default;
          z-index: 100;
          top: 50%;
          left: 50%;
          width: 1px;
          opacity: 0;
          height: 0px;
          background-color: $color-one;
          position: relative;
          box-shadow: 0 3px 0 rgba(#000, 0.3);
          border-radius: 4px;

          .skills-images-messages {
            position: absolute;
            overflow: hidden;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 160px;

            .skills-message{
              color: $game-background;
              font-family: 'lepl';
              margin-left: 8px;
              width: 160px;
              height: 160px;
              line-height: 1.4rem;
              font-size: 1rem;
            }
          }

          .skill-particles {
            position: absolute;
            z-index: 6;
            left: -20px;
            top: 50%;
            height: 3px;
            width: 0px;
            background-color: $color-one;
          }

          .skill-particles[name=right] {
            left: 190px;
          }

          .skills-single {
            cursor: pointer;
            border-radius: 2px;
            float: left;
            // box-shadow: 0 2px 0 rgba(#000, 0.1);
            // display: inline-block;
            position: relative;
            background-color: $gray-dark;
            transform-origin: 50% 0%;
            transform: rotateX(90deg);

            &:hover {
              background-color: rgba($purple-active, 0.1) !important;
              background-position-y: 80.8% !important;
            }
          }

          $icon-colors: $yellow-high;

          .skills-single[name=beer] {
            background: url('/img/buttons.png');
            background-size: 425%;
            background-position-x: -178px;
            background-position-y: 100%;
          }

          .skills-single[name=clock] {
            background: url('/img/buttons.png') no-repeat center center;
            background-size: 425%;
            background-position-x: 0;
            background-position-y: 100%;
          }
          
          .skills-single[name=upstairs] {
            background: url('/img/buttons.png') no-repeat center center;
            background-size: 430%;
            background-position-x: -120px;
            background-position-y: 100%;
          }
          
          .skills-single[name=crab] {
            background: url('/img/buttons.png') no-repeat center center;
            background-size: 430%;
            background-position-x: -60px;
            background-position-y: 100%;
          }

        }

        &:hover {
          .small-target {
            width: 25px;
            height: 25px;
            cursor: pointer !important;
          }
        }

        .small-target {
          border-radius: 50%;
          width: 5px;
          height: 5px;
          transition: .1s ease-out;
          position: absolute;
          background-color: $yellow-dark;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          cursor: url('img/devil-hand.png'), pointer;

          svg {
            width: 100%;
            height: 100%;
          }

        }

      }
    }
  }
}
