@keyframes loaderMove {
  0% { transform: translateX(40px) }
  100% { transform: translateX(-40px) }
}

.loader-container {
  border-radius: 2px;
  border-left: 2px solid rgba(white, 0.62);
  background-color: $gray-dark;
  box-shadow: 0 -4px 0px rgba($gray-dark, .1);
  height: 100%;
  transition: all 100ms cubic-bezier(0.350, -0.255, 0.585, 1.460); /* custom */
  width: 100%;
  margin-top: 1px;
  position: relative;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($gray-dark, 0.6);
    overflow: hidden;
    box-shadow: 0 -5px 2px rgba($gray-dark, 0.3) inset, 0 3px 0px rgba($gray-dark, 0.2);

    &:before {
      content: '';
      position: absolute;
      opacity: 0.3;
      margin-top: -10px;
      width: 200%;
      height: 200%;
      @include shimmer-grad(white);
      animation: loaderMove 1.2s ease-in-out infinite;
    }
  }
}