@mixin shimmer-grad($color) {
  background: rgba($color,0);
  background: -moz-linear-gradient(-25deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba($color,0)), color-stop(35%, rgba($color,0)), color-stop(35%, rgba($color,1)), color-stop(50%, rgba($color,1)), color-stop(51%, rgba($color,0)), color-stop(58%, rgba($color,0)), color-stop(58%, rgba($color,1)), color-stop(59%, rgba($color,1)), color-stop(60%, rgba($color,0)), color-stop(75%, rgba($color,0)), color-stop(75%, rgba($color,1)), color-stop(81%, rgba($color,1)), color-stop(81%, rgba($color,0)), color-stop(100%, rgba($color,0)));
  background: -webkit-linear-gradient(-25deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  background: -o-linear-gradient(-25deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  background: -ms-linear-gradient(-25deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  background: linear-gradient(110deg, rgba($color,0) 0%, rgba($color,0) 35%, rgba($color,1) 35%, rgba($color,1) 50%, rgba($color,0) 51%, rgba($color,0) 58%, rgba($color,1) 58%, rgba($color,1) 59%, rgba($color,0) 60%, rgba($color,0) 75%, rgba($color,1) 75%, rgba($color,1) 81%, rgba($color,0) 81%, rgba($color,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4f2f2', endColorstr='#c4f2f2', GradientType=1 );
}

$color_gray: #C2C2C2;
$color_black: #1C1C1C;
$color_yellow: #EAEAEA;

.tooltip {
  position: relative;
  background-color: $color_gray;
  visibility: hidden;
  display: block;
  color: $gray-dark;
  font-family: 'lepm';
  font-size: .7rem;
  text-transform: uppercase;
}

.bat {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #FFF;
}

#menu{
  width: 0;
  position: fixed;
  z-index: 5;
  height: 100%;
  box-shadow: 3px 0 0 rgba($gray-dark, .2);

  #logo{
    height: 250px;
    width: 220px;
    background-color: $logo-background;
    position: absolute;
    overflow: hidden;
    border-radius: 0 50px 0 0;
    transform-origin: 50% 100%;
    top: 300px;
    left: 0px;
    box-shadow: 4px -4px 0 rgba(#000, .15) inset;

    img {
      display: inline-block;
      position: absolute;
      width: 50%;
      left: 50%;
      top: 53px;
      transform: translateX(-50%);
    }
  }

  #logout {
    position: absolute;
    left: 220px;
    top: 249px;
    overflow: hidden;

    .logout-text{
      background-color: $red-alert;
      text-align: center;
      display: block;
      padding: 6px;
      font-family: 'lepl';
      font-size: .9rem;
      letter-spacing: .05rem;
      color: $game-white;
      box-shadow: 3px -3px 0 rgba(#000, .15) inset;
      border-radius: 0 3px 0px 0px;
      position: relative;

      &:hover {
        color: $purple-active;
        // background-color: $gray-dark;
      }
    }
  }

  #dev_board {
    position: absolute;
    background-color: deeppink;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    width: 60px;
    padding: 4px 0 3px 7px;
    bottom: -50px;
    left: 250px;
    cursor: pointer;
  }

  .trigger_menu {
    background-color: $menu-trigger-background;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 275px;
    border-right: 2px solid rgba($red-alert-light, 0.35);
    box-shadow: 0px 3px 0px rgba(#000, 0.3);
    border-radius: 0 3px 3px 0;
    z-index: 5;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.08;
      @include shimmer-grad($color-grad);
    }

    #menuSvg {
      position: absolute;
      width: 110px;
      top: 2px;
    }
  }

  #noise {
    display: inline-block;
    position: relative;
    margin-left: -2px;
    z-index: 0;
    left: 100px;
    top: 173px;
    width: 200px;
    height: 100px;

    a {
      cursor: pointer;
    }
    .noise-items-wrapper {
      #profile-menu-trigger {
        display: inline-block;
        background: url("/img/profile.png") no-repeat center center;
        background-size: 26%;
        width: 54%;
        height: 100%;
        left: -2px;
        position: absolute;
        z-index: 3;
        transition: .2s ease-in;
  
        &:after {
          content: 'perfil';
          left: 3px;
          width: 45px;
          bottom: 0px;
          padding: 5px;
          @extend .tooltip;
        }
  
        &:hover {
          background: url("/img/profile-over.png") no-repeat center center;
          background-size: 26%;
          &:after {
            visibility: visible;
          }
        }
      }
      .line {
        width: 10px;
        height: 140%;
        left: 52%;
        z-index: 3;
        position: absolute;
        margin-left: -8px;
        margin-right: -10px;
        margin-top: -7%;
        display: inline-block;
      }
  
      #images-menu-trigger{
        position: absolute;
        z-index: 3;
        display: inline-block;
        background: url("/img/images-icon.png") no-repeat center center;
        background-size: 24%;
        width: 54%;
        left: 48%;
        height: 100%;
        transition: .2s ease-in;
        
        &:after {
          content: 'fragmentos';
          left: 3px;
          width: 75px;
          bottom: 0px;
          padding: 5px;
          @extend .tooltip;
        }
        
        &:hover {
          background: url("/img/images-icon-over.png") no-repeat center center;
          background-size: 24%;
          &:after {
            visibility: visible;
          }
        }
      }
    }

    #back_noise {
      overflow: hidden;
      position: absolute;
      height: 100px;
      width: 100%;
      z-index: 1;
      border-radius: 2px;

      .content-shadow {
        border-top: 8px solid rgba(#000, .1);
        border-bottom: 4px solid rgba(#000, .1);
        border-left: 10px solid rgba(#000, .1);
        border-right: 4px solid rgba(#000, .1);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
      }
    }
  }

}

#search_trigger {
  width: 50px;
  position: fixed;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 4;

}

#empty_screen {
  position: fixed;
  background-color: rgba($white-modal, 0.98);
  z-index: 3;
  left: 50%;
  top: 80px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  border-radius: 50%;
  opacity: 0;
}

#search_inputContainer {
  height: 120px;
  position: fixed;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
  z-index: 4;

  #search_input {
    font-family: 'dense', sans-serif;
    width: 80%;
    height: 60px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-transform: uppercase;
    color: $color_black;
    border-bottom: 2px solid $color_black;
    text-align: center;

    &:before {
      content: '';
      width: 200px;
      height: 100%;
      background-color: red;
      position: relative;
      left: 10px;
      top: 10px;
      font-size: 2em;
    }
  }
}
