@import url(https://fonts.googleapis.com/css?family=Quicksand);
$color_gray: #C2C2C2;
$color_black: #1C1C1C;
$color_yellow: #EAEAEA;

.tooltip {
  position: relative;
  background-color: $gray-dark;
  visibility: hidden;
  display: block;
  color: white;
  font-size: 1.2em;
}

.bat {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #FFF;
}

#menu{
  height: 100px;
  width: 350px;
  top: 20%;
  position: fixed;
  transform: translate(0, -50%);
  z-index: 3;

  #logo{
    height: 130px;
    width: 250px;
    background-color: $white-modal;
    position: absolute;
    overflow: hidden;
    top: 20px;


    img {
      display: inline-block;
      position: absolute;
      width: 60%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    #logout {
      position: absolute;
      right: 15px;
      top: 15px;
      height: 35px;
      font-size: 1.4em;

      a {
        &:hover {
          color: $yellow-logo;
        }
      }

    }
  }

  .trigger_menu {
    background-color: $color_black;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 150px;
    // box-shadow: 0 5px 0 rgba(#000, 0.2);

    #menuSvg {
      position: absolute;
      width: 110px;
      top: 2px;
    }
  }

  #noise {
    display: inline-block;
    position: relative;
    margin-left: -4px;
    top: 150px;
    width: 250px;
    height: 100px;

    a {
      cursor: pointer;
    }

    #back_noise {
      overflow: hidden;
      position: absolute;
      height: 100px;
      width: 100%;
      z-index: 1;
    }
    // box-shadow: 0 5px 0 rgba(#000, 0.2);

    #profile {
      display: inline-block;
      background: url("/img/profile.svg") no-repeat center center;
      background-size: 108%;
      width: 48%;
      height: 100%;
      left: 5px;
      position: absolute;
      z-index: 3;
      // transition: .2s ease-in;

      &:after {
        content: 'profile';
        left: 3px;
        width: 40px;
        bottom: 0px;
        padding: 5px;
        @extend .tooltip;
      }

      &:hover {
        background: url("/img/profile-o.svg") no-repeat center center;
        background-size: 108%;
        &:after {
          visibility: visible;
        }
      }
    }
    .line {
      width: 10px;
      height: 140%;
      left: 52%;
      z-index: 3;
      position: absolute;
      margin-left: -8px;
      margin-right: -10px;
      margin-top: -7%;
      display: inline-block;
    }

    #template {
      position: absolute;
      z-index: 3;
      display: inline-block;
      background: url("/img/images.svg") no-repeat center center;
      background-size: 110%;
      width: 48%;
      left: 51%;
      height: 100%;

      &:after {
        content: 'images';
        left: 3px;
        width: 43px;
        bottom: 0px;
        padding: 5px;
        @extend .tooltip;
      }

      &:hover {
        background: url("/img/images-o.svg") no-repeat center center;
        background-size: 110%;
        &:after {
          visibility: visible;
        }
      }
    }
  }

}

#search_trigger {
  width: 55px;
  position: fixed;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 4;
}

#empty_screen {
  position: fixed;
  background-color: rgba($color_yellow, 0.98);
  z-index: 3;
  left: 50%;
  top: 80px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  border-radius: 50%;
  opacity: 0;
}

#search_inputContainer {
  height: 120px;
  position: fixed;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
  z-index: 4;

  #search_input {
    font-family: 'Quicksand', sans-serif;
    width: 80%;
    height: 60px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-transform: uppercase;
    color: $color_black;
    border-bottom: 2px solid $color_black;
    text-align: center;

    &:before {
      content: '';
      width: 200px;
      height: 100%;
      background-color: red;
      position: relative;
      left: 10px;
      top: 10px;
      font-size: 2em;
    }
  }
}
