$shadow-dark: rgba(54, 54, 50, 0.60);
$shadow: rgba(54, 54, 50, 0.10);
$shadow-light: rgba(54, 54, 50, 0.06);
$gray-dark: #363629;
$white-modal: #F3F3F0;
$yellow-light: #FFFA75;
$yellow-dark: #FFD954;
$black-dark: #1C1C1C;
