$shadow-dark: rgba(54, 54, 50, 0.60);
$shadow: rgba(54, 54, 50, 0.10);
$shadow-light: rgba(54, 54, 50, 0.06);
$gray-dark:             #1A1A1A;
$gray-light:            #7b7b79;
$green-light:           #D3F3BE;
$gray-add-body:         #C8E0B9;
$gray-add-body-dark:    #B8D0A9;
$white-modal:           #F5F0F9;
$white-supervisor:      #E3E3Dc;
$white-body:            #E5E5E1;
$yellow-logo:           #FFFF70;
$yellow-zero:           #FFFFA0;
$yellow-light:          #FFFA75;
$yellow-high:           #FFFA5A;
$yellow-dark:           #FFF136;
$yellow-logo-light:     #FFFA5A;
$yellow-dark-border:    #FFDA40;
$yellow-max:            #FFAA00;
$black-dark:            #1C1C1C;
$purple-text-supervisor:#4D4559;
$purple-mid:            #2A262E;
$supervisor-body:       #F1F5ED;
$red-alert:             #FF6845;

// by place
$upload-color-1:        $purple-text-supervisor;
$game-background: #e0e1e0;
$menu-trigger-background: $gray-dark;
$tooltip-purple: $purple-mid;
