@charset "UTF-8";

// reset
@import 'reset';

// materialize
@import 'materialize/mixins';
@import 'materialize/color';
@import 'materialize/variables';
@import 'materialize/global';
@import 'materialize/grid';

// font-awesome
@import "fontAwesome/variables";
@import "fontAwesome/mixins";
@import "fontAwesome/path";
@import "fontAwesome/core";
@import "fontAwesome/larger";
@import "fontAwesome/fixed-width";
@import "fontAwesome/list";
@import "fontAwesome/bordered-pulled";
@import "fontAwesome/animated";
@import "fontAwesome/rotated-flipped";
@import "fontAwesome/stacked";
@import "fontAwesome/icons";
@import "fontAwesome/screen-reader";

// Automata
@import 'myColors';
@import 'modal';
@import 'menu';
@import 'grid';
@import 'messages';
@import 'imagesMenu';
@import 'chat';
@import 'display';
@import 'singleCard';
@import 'loader';

@import url('https://fonts.googleapis.com/css?family=Lato:500|Old+Standard+TT:700');

@font-face {
    font-family: 'cast';
    src: url('/fonts/cast-iron.otf');
}

@font-face {
    font-family: 'dense';
    src: url('/fonts/dense.otf');
}

body {
  background-color: $game-background;
  font-family: 'dense';
}

@keyframes mouse {
    0%  {
            background: url('/img/mouse-r.svg') no-repeat center center;
            opacity: 1;
        }
    25% {
            background: url('/img/mouse.svg') no-repeat center center;
            opacity: .7;
        }
    50% {
            background: url('/img/mouse-r.svg') no-repeat center center;
            opacity: 1;
        }
    75% {
            background: url('/img/mouse.svg') no-repeat center center;
            opacity: .7;
        }
    100% {
            background: url('/img/mouse-r.svg') no-repeat center center;
            opacity: 1;
        }
}

#mouse-indicator {
    position: fixed;
    background: url('/img/mouse.svg') no-repeat center center;
    width: 70px;
    height: 100px;
    bottom: 50px;
    right: 50px;
    opacity: .7;
    // transition: 0.3s ease-in;
    animation: mouse 2s ease-in-out infinite alternate;
}

.mouse-disappear {
    opacity: 0 !important;
}


